.search-form {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-form input {
    margin-bottom: 0.7rem;
    padding: 0.5rem;
}

.search-form button {
    height: 2rem;
    margin-bottom: 0.8rem;
}