.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}


.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.table tr {
    text-align: center;
}

.table .loading {
    display: flex;
}

.delete {
    color: red;
    cursor: pointer;
}

.edit {
    color: green;
    cursor: pointer;
}

.table-options {
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 1rem;
}

.table-options button {
    height: 2rem;
}

.empty-posts {
    width: 100px;
    margin: 0 auto;
    padding: 100px;
}