.comment-section {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    height: 180px;
    max-height: 180px;
}

.comments-container {
 display: flex;
 max-height: -webkit-fill-available;
 flex-direction: column;
 padding: 5px 30px;
 overflow: scroll;
 border: 1px solid grey;
 text-align: left;
}

/* .comment-form {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 100px auto;
} */
