.post-form {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.post-form input, textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;
    padding: 0.5rem;
}

.post-form button {
    height: 2rem;
    margin-bottom: 1rem;
}

.post-form-link {
    text-align: center;
    color: blue;
}