.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0.75rem;
    margin-bottom: 2rem;
    background-color: transparent;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

.navbar li {
    display: inline-block;
    list-style: none;
    margin: 0 0.3rem;
}

.avatar-circular {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    color: #fff;
    background-color: #ff5722;
}


.avatar-img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
}

.logout-link {
    text-align: center;
    color: blue;
    cursor: pointer;
}